.ducks {    
    background-image: url('players/trevor_zegras.jfif');
    max-width: fit-content;  
    background-repeat: no-repeat;
    background-size: 100%, 100%;
    background-attachment: fixed;
    position: relative;
    float: right;    
}
.coyotes {
    background-image: url('players/clayton_keller.jfif');
    max-width: fit-content;  
    background-repeat: no-repeat;
    background-size: 100%, 100%;
    background-attachment: fixed;
}
.bruins {
    background-image: url('players/brad_marchand.jpg');
    max-width: fit-content;  
    background-repeat: no-repeat;
    background-size: 100%, 100%;
    background-attachment: fixed;
}
.sabers {
    background-image: url('players/tage_thompson.jpg');
    max-width: fit-content;  
    background-repeat: no-repeat;
    background-size: 100%, 100%;
    background-attachment: fixed;
}
.flames {
    background-image: url('players/nazem_kadri.jpg');
    max-width: fit-content;  
    background-repeat: no-repeat;
    background-size: 100%, 100%;
    background-attachment: fixed;
}
.hurricanes {    
    background-image: url('players/sebastian_ahos.jpg');
    max-width: fit-content;  
    background-repeat: no-repeat;
    background-size: 100%, 100%;
    background-attachment: fixed;
    position: relative;
    float: right;    
}
.black-hawks {
    background-image: url('players/connor_bedard.jpg');
    max-width: fit-content;  
    background-repeat: no-repeat;
    background-size: 100%, 100%;
    background-attachment: fixed;
    position: relative;
    float: right;    
}
.avalanche {
    background-image: url('players/nathan_mackinnon.jpg');
    max-width: fit-content;  
    background-repeat: no-repeat;
    background-size: 100%, 100%;
    background-attachment: fixed;
}
.blue-jackets {
    background-image: url('players/johnny_gaudreau.jpg');
    max-width: fit-content;  
    background-repeat: no-repeat;
    background-size: 100%, 100%;
    background-attachment: fixed;
}
.stars {
    background-image: url('players/jake_oettinger.jpg');
    max-width: fit-content;  
    background-repeat: no-repeat;
    background-size: 100%, 100%;
    background-attachment: fixed;
}
.red-wings {
    background-image: url('players/dylan_larkin.jfif');
    max-width: fit-content;  
    background-repeat: no-repeat;
    background-size: 100%, 100%;
    background-attachment: fixed;
}
.oilers {
    background-image: url('players/connor_mcdavid.jfif');
    max-width: fit-content;  
    background-repeat: no-repeat;
    background-size: 100%, 100%;
    background-attachment: fixed;
}
.panthers {
    background-image: url('players/matthew_tkachuk.jpg');
    max-width: fit-content;  
    background-repeat: no-repeat;
    background-size: 100%, 100%;
    background-attachment: fixed;
}
.kings {
    background-image: url('players/anze_kopitar.jpg');
    max-width: fit-content;  
    background-repeat: no-repeat;
    background-size: 100%, 100%;
    background-attachment: fixed;
}
.wild {    
    background-image: url('players/kirill_kaprizov.jpg');
    max-width: fit-content;  
    background-repeat: no-repeat;
    background-size: 100%, 100%;
    background-attachment: fixed;
}
.canadiens {    
    background-image: url('players/nick_suzuki.jpg');
    max-width: fit-content;  
    background-repeat: no-repeat;
    background-size: 100%, 100%;
    background-attachment: fixed;
}
.predators {    
    background-image: url('players/roman_josi.jpg');
    max-width: fit-content;  
    background-repeat: no-repeat;
    background-size: 100%, 100%;
    background-attachment: fixed;
}
.devils {    
    background-image: url('players/jack_hughes.jpg');
    max-width: fit-content;  
    background-repeat: no-repeat;
    background-size: 100%, 100%;
    background-attachment: fixed;
}
.islanders {
    background-image: url('players/matt_barzal.jpg');
    max-width: fit-content;  
    background-repeat: no-repeat;
    background-size: 100%, 100%;
    background-attachment: fixed;
}
.rangers {    
    background-image: url('players/igor_shesterkin.jpg');
    max-width: fit-content;  
    background-repeat: no-repeat;
    background-size: 100%, 100%;
    background-attachment: fixed;
}
.senators {
    background-image: url('players/connor_brown.jpg');
    max-width: fit-content;  
    background-repeat: no-repeat;
    background-size: 100%, 100%;
    background-attachment: fixed;
}
.flyers {    
    background-image: url('players/owen_tippett.jpg');
    max-width: fit-content;  
    background-repeat: no-repeat;
    background-size: 100%, 100%;
    background-attachment: fixed;
}
.penguins {    
    background-image: url('players/sidney_crosby.jpg');
    max-width: fit-content;  
    background-repeat: no-repeat;
    background-size: 100%, 100%;
    background-attachment: fixed;
}
.sharks {        
    background-image: url('players/logan_couture.jpg');
    max-width: fit-content;  
    background-repeat: no-repeat;
    background-size: 100%, 100%;
    background-attachment: fixed;    
}
.kraken {    
    background-image: url('players/vince_dunn.jpg');
    max-width: fit-content;  
    background-repeat: no-repeat;
    background-size: 100%, 100%;
    background-attachment: fixed;
}
.blues {    
    background-image: url('players/brandon_saad.jpg');
    max-width: fit-content;  
    background-repeat: no-repeat;
    background-size: 100%, 100%;
    background-attachment: fixed;
}
.lightning {    
    background-image: url('players/andrei_vasilevskiy.jpg');
    max-width: fit-content;  
    background-repeat: no-repeat;
    background-size: 100%, 100%;
    background-attachment: fixed;
}
.maple-leafs {    
    background-image: url('players/auston_matthews.jpg');
    max-width: fit-content;  
    background-repeat: no-repeat;
    background-size: 100%, 100%;
    background-attachment: fixed;
}
.canucks {    
    background-image: url('players/quin_hughes.jpg');
    max-width: fit-content;  
    background-repeat: no-repeat;
    background-size: 100%, 100%;
    background-attachment: fixed;
}
.golden-knights {    
    background-image: url('players/mark_stone.jpeg');
    max-width: fit-content;  
    background-repeat: no-repeat;
    background-size: 100%, 100%;
    background-attachment: fixed;
}
.capitals {    
    background-image: url('players/alex_oveghkin.jpg');
    max-width: fit-content;  
    background-repeat: no-repeat;
    background-size: 100%, 100%;
    background-attachment: fixed;
}
.jets {    
    background-image: url('players/kyle_connor.jpg');
    max-width: fit-content;  
    background-repeat: no-repeat;
    background-size: 100%, 100%;
    background-attachment: fixed;
}
