form {
    margin: 5px;
    text-align: center;
}
body {
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    font-family: "Gill Sans", sans-serif;
}
h1 {
    text-align: center;
    background-color: lightgray;
    margin: auto;
    max-width: 500px;
    border-radius: 10px;
}
.results {
    font-size: x-large;
    text-align: center;
    opacity: 0.9;
    border-radius: 10px;
    background-color: lightgray;
}
.team1 {
    cursor: pointer;
    padding: 30px;
}
.team2 {
    cursor: pointer;
    padding: 30px;
}
.atlantic {
    display: inline-block;
    margin: 10px;
    margin-right: 100px;
    background-color: black;
    color: lightgray;
    padding: 7px;
    border-radius: 10px;
}
.metropolitan {
    display: inline-block;
    margin: 10px;
    margin-right: 100px;
    background-color: black;
    color: lightgray;
    padding: 7px;
    border-radius: 10px;
}
.central {
    display: inline-block;
    margin: 10px;
    margin-right: 100px;
    background-color: black;
    color: lightgray;
    padding: 7px;
    border-radius: 10px;
}
.pacific {
    display: inline-block;
    margin: 10px;
    margin-right: 100px;
    background-color: black;
    color: lightgray;
    padding: 7px;
    border-radius: 10px;
}
.lock, .reload {
    font-size: x-large;    
    border: none;
    background-color: black;
    color: lightgray;
    border-radius: 10px;
    cursor: pointer;     
}
.reload {
    font-size: 150%;
    margin: 30px;
}
