form {
    margin: 5px;
    text-align: center;
}
body {
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}
h1 {
    text-align: center;
}
.results {
    font-size: x-large;
    text-align: center;
    opacity: 0.9;
    border-radius: 1em;
    background-color: lightgray;
}
.team1 {
    cursor: pointer;
    padding: 30px;
}
.team2 {
    cursor: pointer;
    padding: 30px;
}
.atlantic {
    display: inline-block;
    margin: 10px;
    margin-right: 100px;
    background-color: black;
    color: lightgray;
    padding: 7px;
    border-radius: 1em;
}
.metropolitan {
    display: inline-block;
    margin: 10px;
    margin-right: 100px;
    background-color: black;
    color: lightgray;
    padding: 7px;
    border-radius: 1em;
}
.central {
    display: inline-block;
    margin: 10px;
    margin-right: 100px;
    background-color: black;
    color: lightgray;
    padding: 7px;
    border-radius: 1em;
}
.pacific {
    display: inline-block;
    margin: 10px;
    margin-right: 100px;
    background-color: black;
    color: lightgray;
    padding: 7px;
    border-radius: 1em;
}