form {
    margin: 5px;
    text-align: center;
}
body {
    background-color: gray;
}
h1 {
    text-align: center;
}
.team1 {
    cursor: pointer;
    padding: 30px;
}
.team2 {
    cursor: pointer;
    padding: 30px;
}